<!DOCTYPE html>
<html>
<head>

  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,500' rel='stylesheet' type='text/css'>
  <title>Foodheat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>





  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>


  <script type="text/javascript">
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["map_key"] %>"
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
  </script>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">HotPockets</a>
      </div>
<!--     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
        <li><span class="count"></span>
        </li>
      </ul>
    </div>  -->   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="count">
        </li>
        <li><a>Link</a>
        </li>
      </ul>      
    </div>
  </div>
  </nav>


</head>
<body>

  <%= yield %>

 
</body>
</html>