<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,500' rel='stylesheet' type='text/css'>
  <title>Foodheat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>


    <script type="text/javascript">
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["map_key"] %>"
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
    </script>


<body>
  <!-- <div class="container" style="margin-top: -50px"> -->
    <%= yield %>
  <!-- </div> -->
  
  

</body>
</html>