<!DOCTYPE html>
<html>
<head>
  <title>Foodheat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>


    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["map_key"] %>">
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
    </script>
    <style>
      html, body, #map-canvas {
        height: 95%;
        margin: 10px;
        padding: 10px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      #map-canvas { 
        height: 90%; margin: 0; padding: 0;
      }
    </style>


<body>
  <div class="container" style="margin-top: -50px">
    <%= yield %>
  </div>
  <div id="map-canvas"></div>

</body>
</html>